
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.idea/
*.vscode/
*.env
*.pyc
*.pyo
*.pyd
**/build/
/build
*.egg-info/
**/docs/
**/log/
**/db/
**/data/ 
build/
/build/
# Ignore Python cache files
*.__pycache__/
**/vcpkg_installed/
**/vcpkg_buildtrees/
**/vcpkg_downloads/
**/vcpkg_config/
**/vcpkg_toolchains/
**/vcpkg/
**/x64-linux/
**/error/
**/installed/
**/data/
/vcpkg_installed/
/vcpkg_installed
vcpkg_installed/
*.cc
*.3
*.a
# Ignore CMake cache files
/linux/
/linux
**/linux/
linux/